@media(max-width: 650px){
    body{
        background-color: #F00;
    }

    .titulo-secao{
        font-size: 30px;
    }

    #cabecalho .container{
        display: block;
        padding: 10px;
    }

    #cabecalho #logo{
        width: 20px;
        margin: 0 auto;
        display: block;
    }

    #cabecalho nav{
        margin-top: 10px;
        display: none;
    }

    #cabecalho nav li{
        display: block;
        text-align: center;
        border-bottom: 1px solid #333;
    }
    
    #versoes #modelos{
        grid-template-columns: repeat(2, auto);
    }

    #fotos #galeria-fotos{
        grid-template-columns: repeat(2, auto);
    }
}

@media(max-width: 380px){
    #versoes #modelos{
        display: block;
    }

    #fotos #galeria-fotos{
        gap: 10px;
    }
}