*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-1: #0071e3;
    --color-2: #000;
    --color-3: #999;
    --color-4: #fff;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

#cabecalho{
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 2;
}

#cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho #logo{
    width: 30px; 
}

#cabecalho nav li{
    display: inline-block;
}

#cabecalho nav li a{
    text-decoration: none;
    color: var(--color-3);
    display: block;
    padding: 15px 30px;
    transition: all 0.3s linear;
}

#cabecalho nav li a:hover{
    background-color: var(--color-1);
    color: var(--color-4)
}

.titulo-secao{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

#versoes{
    padding: 50px 0;
}

#versoes #modelos{
    display:grid; 
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
}

#versoes #modelos img{
    display: block;
    max-width: 100%;
    max-height: 250px;
    margin-bottom:30px;
}

#versoes #modelos h3{
    font-size: 20px;
    margin-bottom: 20px;
}

#versoes #modelos ul{
    padding-left: 20px;
    margin-bottom: 30px;
}

#versoes #modelos ul li{
    margin-bottom: 10px;
}

#versoes #modelos .but-comprar{
    display: block;
    max-width: 100px;
    background-color: var(--color-1);
    padding: 10px 20px;
    border-radius: 50px;
    color: var(--color-4);
    text-decoration: none;
    text-align: center;
    transition: all 0.5s linear;
    margin-bottom: 20px;
}

#versoes #modelos .but-comprar:hover{
    background-color: #014e9b;
    box-shadow: 0 0 10px 3px rgba(1, 113, 227, .8);
}

#versoes #modelos .but-saiba-mais{
    color: var(--color-1);
    text-decoration: none;
}

#versoes #modelos .but-saiba-mais:hover{
    text-decoration: underline;

}

#versoes #modelos .but-saiba-mais::before{
    content: "\276f";
    margin-right: 5px;
}

#fotos{
    background-color: #DDD;
    padding: 50px 0;
}

#fotos #galeria-fotos{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
}

#fotos #galeria-fotos img{
    display: block;
    width: 100%;
}

#fotos #galeria-fotos img:hover{
    transform: scale(1.1);
}

#video{
    background-color: var(--color-2);
    padding: 50px 0;
}

#video iframe{
    max-width: 800px;
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
}

#video .titulo-secao{
    color: var(--color-4);
}

#rodape{
    padding: 30px;
    text-align: center;
    font-size: 12px;
}

#rodape a{
    color: var(--color-1);
    text-decoration: none;
}

#rodape a:hover{
    text-decoration: underline;
}